
body {
	font-size: 12px;
	background-color: #f7f7f7;
	color: #975b5b;
}

.table tbody tr td {
	padding: 5px;
	vertical-align: middle;
}

tbody>tr:hover {
	background-color: #f5e8e8;
}

footer {
	background-color: #555;
	color: white;
	padding: 15px;
	margin-top: 30px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.well {
	font-size: 14px;
    font-weight: bold;
}

td.highlight {
	text-align: center;
	font-weight: bold;
}

.form-group .required:after { 
   content:"*";
   color:red;
}

.btn-main {
	width: 150px;
}

.value {
	color: #4cae4c;
}

.navbar-inverse {
    background-color: #380786;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #4c4a77;
}

.ui-widget-header {
    background: #38077A;
    color: #ffffff;
}

.main-content {
	background-color: #FFFFFF;
	height: 86vh;
	overflow: auto;
}

.payloads-search-results {
	height: 44vh;
	overflow: auto;
}

#payload-content {
	height: 350px;
}